.carroCard{
    display: flex;
    border: 5px solid black;
    transition: 0.4s ease-out;
}

.carroCard .carroCard-h1{
    display: flex;
    color: white;
    font-size: 24px;
    background-color: rgb(58, 58, 105);
    cursor: pointer;
    width: 5vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.carroCard:hover{
    transform: scale(1.15) ;
}

.carroCard .btnClose{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    font-size: 24px;
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    height: 4vh;
    width: 2vw;
    color: white;
}