.CarroAddModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    width: 40vw;
    height: 60vh;
}

.open{
    display: block;
}

.CarroAddModal .children{
    display: flex;
    justify-content: end;
}


